@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --topbar-bg: 'rgba(255, 255, 255, 100)';
  --topbar-text: #ffdfdf;
  --footer-bg: 'rgba(255, 255, 255, 100)';
  --footer-text: #ffdfdf;
  --outer-content-bg: #dd9999;
  --main-bg: #ddaaaa;
  --main-text: #ffdfdf;
  --link-text: #ffdfdf;
  --link-hover-text: #ffefef;
}

body {
  @apply text-[var(--main-text)] bg-[var(--main-bg)];
}

a {
  @apply text-[var(--link-text)] hover:text-[var(--link-hover-text)];
}

.outer-container {
  @apply flex flex-col grow items-center bg-[var(--outer-content-bg)];
}

.inner-container {
  @apply grow w-full max-w-[1000px] bg-[var(--main-bg)] py-4 px-4;
}
